.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');
  }
  .top-bar {
    // max-width: 400px;
    width: 332px;
    height: 32px;
    top: 50px;
    left: 21px;
  }